body{
    align-self: center;
}

.header_back {
    background: url("../img/top_back.jpg");
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 118px;
    padding-right: 118px;
    height: 70px;
}

.top_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 300px;
}

.top_menu a{
    list-style-type: none;
    text-decoration: #EEEEEE;
    font-size: 18px;
    padding-right:25px;
}

.slider_back{
    background: #29292a;
    background-image: url("../img/back_img1.png");
    background-size: cover;
}

.slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 118px ;
    padding-right: 118px;
    height: 370px;
}

.slider_img{
    position: relative;
}

.slider_text{
    width: 372px;
}

.slider_text H1{
    font-size: 26px;
    color: white;
    margin-bottom: 23px;
}

.slider_text p{
    font-size: 16px;
    color: white;
    line-height: 20px;
}

.tex_butt {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.tex_butt button {
    height: 53px;
    width: 186px;
    color: white;
    background: #58a2cf;
    border: none;
    font-size: 28px;
    margin-top: 70px;
    margin-left: 75px;
}

.content {
    position: relative;

    margin-bottom: 130px;
}

.feed_shadow{
    position: relative;
    width: 1117px;
    top: 150px;
    left: 115px;
}

.feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 72px;
    margin-top: 30px;
    margin-left: 116px ;
    margin-right: 116px;
    background: #e2e1e0;
    border-radius: 15px;
}

.feedback_p{
    font-size: 16px;
    font-family: Arial;
}

.feedback form {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    height: 50px;
}

.feedback form input {
    height: 32px;
    width: 247px;
    margin-right: 3px;
}

.feedback form p input{
    height: 38px;
    border: none;
    background: #58a2cf;
    color: white;
    padding: 8px 8px;
    width: 60px;
}


.info_blocks{
    width: auto;
    margin-top: 62px;
    margin-right: 116px;
    margin-left: 116px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info_blocks .top h1{
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
}

.info_blocks .top p{
    margin-top: 12px;
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
}

.top{
    align-self: center;
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.top div{
    height: 200px;
    width: 280px;
}

.info_blocks .botoom h1{
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
}

.info_blocks .botoom p{
    margin-top: 12px;
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
}

.botoom{
    align-self: center;
    margin-top: 74px;
    display: flex;
}

.botoom div{
    height: 200px;
    width: 280px;
}

.botoom img{
    height: 130px;
}

.info_blocks button {
    height: 33px;
    width: 83px;
    color: white;
    background: #58a2cf;
    border: none;
    font-size: 16px;
    margin-top: 25px ;
}

.but_2 button{
    margin-top: 47px;
}

.info_back{
    background: url("../img/back_img2.png");
}

.info{
    padding-top: 35px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 116px;
    padding-right: 116px;
}

.info h1{
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}

.info p{
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
}

.about_us{
    width: 270px;
    color: white;
}

.info .about_us button {
    height: 36px;
    width: 72px;
    color: white;
    font-family: "Trebuchet MS";
    font-size: 16px;
    background: #1559af;
    border: none;
    margin-top: 16px;
}

.ql {
    width: 270px;
    color: white;
    font-family: Arial;
    font-size: 16px;
    line-height: 30px;
}

.cont_us {
    display: flex;
    flex-direction: column;
    width: 270px;
    margin-right: 108px;
    color: white;
}


.line{
    margin-top: 8px;
    margin-bottom: 26px;
}

.name {
    height: 32px;
    width: 184px;
    margin-bottom: 6px;
    background: #111010;
    border-radius: 20px;
    border-style: none;
}

.email {
    height: 32px;
    width: 184px;
    margin-bottom: 6px;
    background: #111010;
    color: white;
    border-radius: 20px;
    border-style: none;
}

.message {
    height: 100px;
    width: 270px;
    margin-bottom: 6px;
    background: #111010;
    color: white;
    border-radius: 20px;
    border-style: none;
}

.cont_us button{
    height: 36px;
    width: 72px;
    color: white;
    font-family: "Trebuchet MS";
    font-size: 16px;
    background: #1559af;
    border: none;
    margin-top: 16px;
}

.back_down{
    height: 35px;
}

.footer{
    background-image: url("../img/back_down.png");
}

.footer small{
    margin-left: 291px;
    font-family: Arial;
    font-size: 12px;
    line-height: 30px;
    color: white;


}
/*LINKS*/
/*top*/
.top_menu A {
    color: white; /* Цвет ссылок */
    text-decoration: none;
}

.top_menu A:active{
    color: white; /* Цвет активных ссылок */
    text-decoration: none ;
}

.ql A {
    color: white; /* Цвет ссылок */
    text-decoration: none;
}

.ql A:active{
    color: white; /* Цвет активных ссылок */
    text-decoration: none;
}

.slider_text a{
    color: white; /* Цвет ссылок */
    text-decoration: none;
}

.slider_text {
    color: white; /* Цвет ссылок */
    text-decoration: none;
}

