.header{
    background: url("../img/top_back.jpg");
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    height: 70px;
}

.top_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top_menu a{
    list-style-type: none;
    text-decoration: #EEEEEE;
    font-size: 25px;
    padding-right:25px;
}




/*LINKS*/
/*top*/
.top_menu A {
    color: white; /* Цвет ссылок */
    text-decoration: none;
}

.top_menu A:active{
    color: white; /* Цвет активных ссылок */
    text-decoration: none;
}