body{
    align-self: center;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f6f6;
    padding-left: 118px;
    padding-right: 118px;
    height: 145px;
}

.slider{
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 712px;
    background: #353535;
}

.sl1{
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 712px;
    background: #353535;
}

.slider_txt{
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

.slider_txt h1{
    font-family: Serif;
    font-size: 55px;
    color: white;
}

.slider_txt p{
    color: white;
}

button{
    padding: 0;
    border: none;
    font: inherit;
    color: white;
    background-color: transparent;
}


.about_us{
    padding-top: 94px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 570px;
    background-color: #ffffff;
}

.about_us1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.about_us_img{
    width: 161px;
}

.about_us p{
    padding-top: 30px;
    width: 70%;
    font-size: 22px;
    text-align: center;
}

.about_us_box{
    
}