/*header*/
body{
    background: lightgray;
}

.page{
    width: 85%;
    background: white;
    box-shadow: 0 0 2px grey;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0px;
}
.menu{
    display: flex;
    height: 50px;
    flex-wrap: nowrap;
    order: 1;
    position: relative;
    background: dimgrey;
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 5%;
}

.menu li:last-child{
    padding-right: 300px;
}

.menu A {
    color: white; /* Цвет ссылок */
    text-decoration: none;
}

.menu A:visited{
    color: white; /* Цвет посещенных ссылок */
    text-decoration: none;
}

.menu A:active{
    color: white; /* Цвет активных ссылок */
    text-decoration: none;
}

.left_menu {
    text-decoration: none;
    list-style-type: none;
    text-decoration: none;
}

.left_menu A {
    color: dimgrey; /* Цвет ссылок */
    text-decoration: none;
}

.left_menu A:visited{
    color: black; /* Цвет посещенных ссылок */
    text-decoration: none;
}

.left_menuleft_menu A:active{
    color: white; /* Цвет активных ссылок */
    text-decoration: none;
}

.menu li{
    margin: auto;
    text-decoration: white;
}

.m3{
    margin-left: 20%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}


.text{
    display: flex;
    flex-direction: column-reverse;
    width: 75%;
}

.logo {
    align-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    border-width: 2px 2px;
    border-style: groove;
    height: auto;
}

.logobox{
    padding-right: 2%;
    height: auto;
}

.menu {
    display: flex;
}

.cont1{
    display: flex;
    align-items: flex-start;
}

.cont2{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
}

.lefm_1{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 15%;
}

.menu2 li{

}

.page1{
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 1%;
    padding-top: 2%;
}

.footer{
    display: flex;
    height: 40px;
    flex-wrap: nowrap;
    position: relative;
    background: gold;
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 5%;
    align-content: center;
    align-items: center;
}

.footer A {
    color: black; /* Цвет ссылок */
    text-decoration: none;
}

.footer A:visited{
    color: black; /* Цвет посещенных ссылок */
    text-decoration: none;
}

.footer A:active{
    color: black; /* Цвет активных ссылок */
    text-decoration: none;
}

.footercont{
    padding-bottom: 15px;
}