body{
    background: lightgrey;
}

.page{
    margin: auto;
    width: 85%;
    background: white;
    border-width: 2px;
    border-left: 100%;
    border-left-color: lightgrey;
    border-left-style: groove;
    border-right: 100%;
    border-right-color: lightgrey;
    border-right-style: groove;
}

.page1 {
    padding-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
    padding-bottom: 30px;
}

.top_menu{
    display: flex;
    background: dimgrey;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    width: 100%;
    position: relative;
    margin: auto;
    margin-bottom: 40px;
}

.top_menu li{
    height: 35px;
    margin: auto;
    padding-top: 18px;
}

.top_menu li:last-child{
    padding-right: 300px;
}

.left_menu_cont{
    margin-right: 5%;
}

.left_menu li{
    list-style-type: none;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    width:180px;
    padding: 10px;
    border-left: 2px;
    border-right: black;
    border-top: black;
    border-left: black;
    border-style: groove;
    border-width: 1px;
}

.bike{
    border: lightgrey;
    border-width: 1px;
    border-style: groove;
    margin-bottom: 20px;
}

.bike_img{
    margin: auto;
}

.cont_lm_txt{
    display: flex;

}

.cont_img_txt{
    display: flex;
    flex-direction: column;

}






/*FOOTER*/

.footer{
    display: flex;
    background: lightgrey;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    width: 100%;
    position: relative;
    margin: auto;
    margin-top: 50px;
}

.footer li{
    height: 35px;
    margin: auto;
    padding-top: 18px;
}

.footer li:last-child{
    padding-left: 300px;
}


/*LINKS*/
/*top*/
.top_menu A {
    color: white; /* Цвет ссылок */
    text-decoration: none;
}

.top_menu A:visited{
    color: white; /* Цвет посещенных ссылок */
    text-decoration: none;
}

.top_menu A:active{
    color: white; /* Цвет активных ссылок */
    text-decoration: none;
}

/*left*/
.left_menu A {
    color: grey; /* Цвет ссылок */
    text-decoration: none;
}

.left_menu A:visited{
    color: grey; /* Цвет посещенных ссылок */
    text-decoration: none;
}

.left_menu A:active{
    color: grey; /* Цвет активных ссылок */
    text-decoration: none;
}

/*footer*/
.footer A {
    color: black; /* Цвет ссылок */
    text-decoration: none;
}

.footer A:visited{
    color: black; /* Цвет посещенных ссылок */
    text-decoration: none;
}

.footer A:active{
    color: black; /* Цвет активных ссылок */
    text-decoration: none;
}
/*/LINKS/*/
